:root {
    --primary-color: #92140C; /* Used for headings */
    --secondary-color: #111D4A; /* Used for accent text */
    --accent-color-one: #FFF8F0; /* Used for accents */
    --accent-color-two: #FFCF99; /* Used for accents */
    --accent-color-three: #1E1E24; /* Used for accents */
  }
  
  body,
  h1,
  h2,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: var(--accent-color-three);
    font-family: "Roboto", sans-serif;
  }
  
  header {
    background-color: var(--primary-color);
    color: var(--accent-color-one);
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 26px;
  }
  
  h2 {
    color: var(--secondary-color);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  ol,
  ul {
    margin-left: 20px;
  }
  
  li {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color: var(--accent-color-one);
    border: 3px solid var(--accent-color-three);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .top-section-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: var(--accent-color-two) double 10px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .top-section-container section {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 45%;
}
  
  .top-section-container section p {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
  }
  
  .mid-section-container {
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 85%;
    border: var(--accent-color-two) double 10px;
  }
  
  .mid-section-container section {
    width: 40%;
    margin: 10px;
    text-align: left;
    padding: 20px;
  }
  
  .mid-section-container li {
    max-width: 50%;
    border: 1px solid var(--accent-color-three);
    padding: 5px;
  }
  
  .mid-section-container .primary {
    color: var(--primary-color);
  }
  
  .mid-section-container .secondary {
    color: var(--secondary-color);
    max-width: 50%;
  }
  
  .mid-section-container .accent-one {
    color: var(--accent-color-one);
    background-color: black;
    max-width: 51.8%;
  }
  
  .mid-section-container .accent-two {
    color: var(--accent-color-two);
    background-color: black;
    max-width: 51.8%;
  }
  
  .mid-section-container .accent-three {
    color: var(--accent-color-three);
    border: 1px solid var(--accent-color-three);
    max-width: 51.6%;
  }
  
  .mid-section-container .roboto {
    font-family: "Roboto", sans-serif;
  }
  
  .mid-section-container .opensans {
    font-family: "Open Sans", sans-serif;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .smaller-wire {
    width: 600px;
    height: auto;
    margin-right: 10px;
    display: inline-block;
  }
  
  .larger-wire {
    width: 200px;
    height: auto;
    margin-right: 0px;
    display: inline-block;
  }
  
  .bottom-section-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .bottom-section-container img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
    border: 3px solid var(--accent-color-three);
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--accent-color-three);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
  }
  
  .bottom-section-container img:hover {
    transform: scale(1.35);
    transition: transform 0.5s ease-in;
  }
  
  .bottom-section-container section {
    max-width: 50%;
    margin: 0 auto;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .5);
  }
  
  footer {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: var(--accent-color-one);
  }
  
  footer p:first-child {
    margin: 0;
  }
  
  footer #country {
    font-weight: bold;
  }
  
  footer #lastModified {
    margin-top: 5px;
    color: #d2ec0b;
  }
  