/* Media query for screens with a max-width of 756px */
:root {
    --primary-color: #92140C;
    --secondary-color: #111D4A;
    --accent-color-one: #FFF8F0;
    --accent-color-two: #FFCF99;
    --accent-color-three: #1E1E24;
}

@media screen and (max-width: 767px) {
    
/* Styles for mobile mode */
    header {
        padding: 10px;
    }

    .logo {
        margin: 0;
    }

    .logo img {
        width: 70px;
    }

    .social-links img {
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0;
    }

    nav {
        display: none;
        margin: 0;
    }

    .push-down {
        margin-top: 180px; /* Adjust the value as needed */
      }
      
    .links {
        display: block;
    }

    .link {
        margin: 0 10px;
        margin-top: 30px;
    }

    .link a:hover {
        transition: .75s ease;
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

    .link a {
        text-decoration: none;
        color: var(--accent-color-one);
        border: var(--accent-color-three) 1px solid;
        background-color: var(--accent-color-three);
        padding: 5px 10px;
        border-radius: 5px;
    }


    #hamburger-menu {
        background-color: var(--primary-color);
        display: block;
        color: white;
        border: none;
        font-size: 20px;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        text-align: center;
        transition: top 0.3s;
        height: 22%;
    }

    .mobile-menu.show-menu {
        display: block;
        margin-top: 30px;
    }



    .join button {
        font-size: 18px;
        padding: 10px 15px;
        border-radius: 5px;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 80px;
    }

    .banner {
        height: 200px;
        max-width: 100%;
    }

    .events-weather-container {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .events {
        width: 90%;
        padding: 20px;
        border-radius: 15px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .weather {
        width: 90%;
        padding: 20px;
        border-radius: 15px;
        margin: 0 auto;
    }

    .spotlights {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .card-one,
    .card-two,
    .card-three {
        width: 93%;
        padding: 15px;
    }

    .contacts .link {
        text-decoration: underline;
    }

    footer {
        padding: 10px 0;
    }

    footer .left h1,
    footer .left h2 {
        font-size: 14px;
    }

    footer img {
        width: 60px;
    }
}


/* Tablet Media queries */
@media screen and (min-width: 768px) and (max-width: 1023px){

}

/* Desktop Media queries */
@media screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }  

}