:root {
    --primary-color: #fff;
    --secondary-color: #1d4d72;
    --darkness: #000000;

}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

body.dark-mode {
    background-color: #333333;
    border: 1px solid black;
}


header {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    max-width: 100px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin-right: 10px; 
}

header span {
    margin-left: 10px; 
    font-size: 25px;
}

.hr {
    width: 92%;
}


#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}


#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #000;
    text-align: right;
}

#menu::before {
    content: "≡";
}

#menu.open::before { 
    content: "×"; 
}

#darkModeButton {
    display: block;
    text-decoration: none;
    position: relative;
    text-align: right;
    padding: .5rem .75rem;
    margin-top: -40px;
}


.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    display: none; 
}

.navigation.show {
    display: block; 
}

.navigation li {
    display: block; 
}

nav {
    text-align: center;
    background-color: var(--darkness);
    margin: 0 auto;
}

nav a {
    display: block;
    background-color: var(--darkness);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, border-top 0.3s ease; 
    font-size: 23px;
    padding: 10px;
    position: relative; 
}

nav a:hover {
    background-color: var(--secondary-color); 
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-size: 1.5rem;
    font-family:Arial,sans-serif;
}

main h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 500;
}

main h2 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    position: relative;
    background-color: var(--secondary-color);
}

.card {
    background-color: var(--primary-color); 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px black;
    width: 90%; 
    margin: 0 auto; 
}

.card h2 {
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card ul {
    padding-bottom: 5px;
}

.card li {
    margin-bottom: 10px;
}


.card li a {
    text-decoration: underline; 
    transition: color 1s ease; 
}

.card li a:hover {
    color: #800080 ;
}

.info {
    text-align: center;
    margin: 40px; 
}

.weather {
    font-size: 18px; 
    line-height: 1.5;
    padding-bottom: 40px;
}

iframe {
    width: 100%;
    height: 450px;
}


footer {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: var(--secondary-color);
    color: white;
}

