:root {
    --primary-color: #fff;
    --secondary-color: #1d4d72;
    --darkness: #000000;

}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    max-width: 100px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin-right: 10px; 
}

header span {
    margin-left: 10px; 
    font-size: 25px;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #000;
    text-align: right;
}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    display: none; 
}

.navigation.show {
    display: block; 
}

.navigation li {
    display: block; 
    margin-bottom: 10px; 
}



nav {
    text-align: center;
    background-color: var(--darkness);
    margin: 0 auto;
}

nav a {
    display: block;
    background-color: var(--darkness);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, border-top 0.3s ease; 
    font-size: 23px;
    padding: 10px;
    position: relative; 
}

nav a:hover {
    background-color: var(--secondary-color); 
}



main h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    font-weight: 500;
}

main h2 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    position: relative;
    background-color: var(--secondary-color);
}

.card {
    background-color: var(--primary-color); 
    border-radius: 10px; 
    box-shadow: 5px 5px 10px black;
    width: 90%; 
    margin: 0 auto; 
}

.card h2 {
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card ul {
    padding-bottom: 5px;
}

.card li {
    margin-bottom: 10px; /* Adjust margin as needed for spacing between list items */
}


.card li a {
    text-decoration: underline; 
    transition: color 1s ease; 
}

.card li a:hover {
    color: #800080 ; /* Change color on hover */
}

.info {
    text-align: center;
    margin: 40px; 
}

.weather {
    font-size: 18px; 
    line-height: 1.5;
    padding-bottom: 40px;
}

footer {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    background-color: var(--secondary-color);
    color: white;
}

footer p:first-child {
    margin: 0;
}

footer #country {
    font-weight: bold;
}

footer #lastModified {
    margin-top: 5px;
    color: #d2ec0b;
}


