@media screen and (max-width: 767px) {
  nav {
    display: none; /* Hide the full navigation in mobile view */
  }

  main h2 {
    padding-left: 0;
    text-align: center;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    max-width: 100%;
  }

  .card-one {
    width: 80%;
  }

  .card-two {
    width: 80%;
  }

  .mobile-menu.show-menu {
    display: block;
  }

  header h1 {
    margin-right: 0;
  }

  .hamburger {
    display: block;
  }

  .google-maps {
    width: 80%;
    margin: 0 auto;
    margin: 20px auto;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    display: block;
    font-size: 23px;
    padding: 10px;
  }
  .card-container {
    flex-direction: row; /* Display cards side by side */
  }

  .card {
    max-width: calc(50% - 40px); /* Set the maximum width for each card */
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav a {
    display: inline-block;
    font-size: 23px;
    padding: 10px;
  }

  .hamburger {
    display: none; /* Hide the hamburger menu in desktop view */
  }

  nav a {
    font-size: 23px;
    padding: 10px;
  }

  
}
